[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.19.5"
pandas = "1.1.5"
scikit-learn = "1.0.1"
matplotlib = "3.2.2"
tensorflow = "==2.7.0"
requests = "2.23.0"
tqdm = "4.62.3"
Pillow = "7.1.2"
astropy = "==4.3.1"
astroquery = "*"
tensorflow-addons = "*"
tensorboard = "*"
optuna = "*"
plotly = "*"
mw-plot = "*"
python-magic = "*"
splusdata = "*"
sciserver = {subdirectory = "py3", git = "https://github.com/sciserver/SciScript-Python.git/"}
wandb = "*"
zoobot = "*"
keras-applications = "*"
tensorflow-probability = "*"
pydot = "*"
seaborn = "*"

[dev-packages]
jinja2 = "*"
docutils = "*"
furo = "*"
numpydoc = "*"
ipykernel = "*"
sphinx-copybutton = "*"
tensorboard-plugin-profile = "*"

[requires]
python_version = "3.7.12"
