[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.19.5"
pandas = "1.1.5"
scikit-learn = "1.0.1"
matplotlib = "3.2.2"
tensorflow = "2.7.0"
requests = "2.23.0"
tqdm = "4.62.3"
Pillow = "7.1.2"
astropy = "==4.3.1"
astroquery = "*"
tensorflow-addons = "*"
keras-tuner = "1.0.4"
autokeras = "*"

[dev-packages]
numpydoc = "*"
pydata-sphinx-theme = "*"
ipykernel = "*"

[requires]
python_version = "3.7.12"
